@charset "UTF-8";

body{
    background-color: #3CB4CF;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    color: white;
    background-color: #28798B;
}
h1{
    color:#1F5C69 ;
}
h2{
    color:#1F5C69;
}
.basico{
    color: rgb(12, 129, 94);
}
.inter{
    color: #0d504a;
}
.ad{
    color: #042215;
}